html {
	height: 100%;
}

body {
	height: 100%;
	font-family: sans-serif;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#log {
	height: 300px;
	overflow: hidden;
	overflow-x: auto;
}

.input-line {
	position: absolute;
	left: 10px;
	bottom: 10px;
	right: 10px;
	width: calc(100% - 20px);
	border: 1px solid #AAA;
	background-color: #FFF;
	font-size: 20px;
	/*opacity: 0.75;*/
}
