html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
	background-color: #FFF;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

label {
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

input[type=text] {
	value: 100;
}

#video-url,
#poster-url {
	width: 400px;
}
